data_for_parsing
Project Proposal_files
src/stress_test_vms/auth_token.json
testlab/client/__pycache__
testlab/client/go1.14.6.linux-amd64.tar.gz
testlab/rest/__pycache__
testlab/rest/tls.crt
testlab/workerChar/__pycache__
.venv
.vscode
*.env
src/aio/__pycache__
testlab/rest/tls.key
src/aio/dndio-tls.key
src/aio/recurse.py
*__pycache__*
src/discord/commands/__pycache__/command.cpython-312.pyc
